<ion-list>
  <!--skeleton text--->
  <ion-item *ngFor="let item of [1,1,1,1]" class="animate__animated animate__flash animate__repeat-3	3 animate__slower	3s" lines="none" detail>
    <ion-avatar class="ion-margin">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text color="secondary" animated style="width: 50%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>