ion-label{
    font-size: 15px !important;
}

ion-badge{
    top: 60px !important;
}

#border-top{ 
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-radius: 8px;
box-shadow: none;
}




.image_border{
    width: 100%;
    border-radius: 10px;
}