<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        EDITAR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="contentBgColor hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <div class="profileHeader bgWhite">
    <ion-avatar class="profileImage hydrated"><img
        src="https://avatars0.githubusercontent.com/u/42456924?s=460&u=a90043406088fa3dc2f0d3f739caba60c9faad2a&v=4">
    </ion-avatar>
    <h5 class="textBold">{{user.name}}</h5><span class="drivermemberType">Miembro</span>
  </div>
  <br>
  <ion-label class="lightTextColor sc-ion-label-md-h sc-ion-label-md-s hydrated"> INFORMACION</ion-label>
  <ion-list class="list list-md hydrated">
    <ion-item class="detailsItems item-lines-full in-list item hydrated" lines="full" ng-reflect-lines="full">
      <h6 slot="start">Nombre de usuario</h6><span class="lightTextColor" slot="end">{{user.name}}</span>
    </ion-item>
    <ion-item class="detailsItems item-lines-full in-list item hydrated" lines="full" ng-reflect-lines="full">
      <h6 slot="start">Email</h6><span class="lightTextColor" slot="end">{{user.email}}</span>
    </ion-item>
    <ion-item class="detailsItems item-lines-full in-list item hydrated" lines="full" ng-reflect-lines="full">
      <h6 slot="start">País</h6><span class="lightTextColor" slot="end">{{user.country}}</span>
    </ion-item>
    <ion-item class="detailsItems item-lines-full in-list item hydrated" lines="full" ng-reflect-lines="full">
      <h6 slot="start">Ciudad</h6><span class="lightTextColor" slot="end">{{user.city}}</span>
    </ion-item>
    <ion-item class="detailsItems item-lines-none in-list item hydrated" lines="none" ng-reflect-lines="none">
      <h6 slot="start">Fecha de registro</h6><span class="lightTextColor" slot="end">{{user.date_of_register | date}}</span>
    </ion-item>

    <ion-button class="button-close" (click)="logout()" expand="block">
      Cerrar Sesión 
    </ion-button>
  </ion-list>
</ion-content>