.login-header {
    background:  #ffce00;
    height: 150px;
    color: white;
    text-align: center;
    font-family: "Heebo-Bold" !important;
    font-size: 18px;
}

.login-header{
    position: relative;
    color: #ffce00;
    background:  #ffce00;
    border-radius: 0em;
}

// aplic design
.login-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}