<app-header title="Datos Personales"></app-header>


<ion-content>
  <div class="container">
    
    <ion-list>
     <ion-item class="input" lines="full">
         <ion-label position="floating">Nombre y Apellido</ion-label>
         <ion-input></ion-input>
       </ion-item>

       <ion-item class="input" lines="full">
         <ion-label position="floating">Correo Electronico</ion-label>
         <ion-input></ion-input>
       </ion-item>


       <ion-item class="input" lines="full">
         <ion-label position="floating">Contraseña</ion-label>
         <ion-input type="password"></ion-input>
       </ion-item>

       <ion-item class="input" lines="full">
        <ion-label position="floating">Repite Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
 </ion-list>

 <ion-button class="button" (click)="navigate()" expand="block" shape="round">
     Confirmar
 </ion-button>
</div>  

</ion-content>
