<app-header title="Elige una Categoria"></app-header>

<ion-content>
  <div class="container">
    <ion-list *ngIf="loading == false">
      <ion-item lines="none" button *ngFor="let category of categories" (click)="navigate(category._id)" detail>
        <ion-avatar class="ion-margin">
          <img class="icon" src="https://rest-home-care.herokuapp.com/icons/{{category.icon}}" />
        </ion-avatar>
        <ion-label>{{category.name_category}}</ion-label>
      </ion-item>
    </ion-list>

  <app-skeleton *ngIf="loading == true"></app-skeleton>
  </div>
</ion-content>