<app-header title="Elige una Categoria"></app-header>

<ion-content>
  <div class="container">
    <ion-list *ngIf="loading == false">
      <ion-item lines="none" button *ngFor="let category of categories" (click)="navigate(category._id)" detail>
        <div class="icon-fea4">
          <span class="fas {{category.icon}}" aria-hidden="true"></span>
        </div>
        <ion-label>{{category.name_category}}</ion-label>
      </ion-item>
    </ion-list>

  <app-skeleton *ngIf="loading == true"></app-skeleton>
  </div>
</ion-content>