
.icon-fea4 {
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    background: #293462;
    color: #fff;
    margin-bottom: 26px;
    display: inline-block;
    text-align: center;
    margin: 2rem;
  }

  ion-item{
      margin: 0px;
  }

