<app-header title="Selecciona tu País"></app-header>

<ion-content>
<div class="container">
<ion-searchbar animated placeholder="Buscar País" class="search" (ionChange)="search($event)"></ion-searchbar>

<ion-list *ngIf="loading == false">
    <ion-item lines="none" button *ngFor="let c of countries | search: search_text: 'name'" (click)="country(c.name)" detail>
    <ion-avatar class="ion-margin">
            <img [src]="c.flag" />
    </ion-avatar>
      <ion-label>{{c.name}}</ion-label>
    </ion-item>
 </ion-list>


 <app-skeleton *ngIf="loading == true"></app-skeleton>
</div>

</ion-content>
