<!--Tabs-->
<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button *ngIf="user == 'cliente'" tab="home" >
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="user == 'colaborador'" tab="panel" >
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="time"></ion-icon>  
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="configuration">
      <ion-icon name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>