<app-header title="Datos de Localización"></app-header>

<ion-content>
<div class="container">
    
           <ion-list>
            <ion-item lines="full">
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Direccion</ion-label>
                <ion-input></ion-input>
              </ion-item>


              <ion-item lines="full">
                <ion-label position="floating">ZIP CODE</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-list>

        <ion-button class="button" (click)="person_data()" expand="block" shape="round">
            Confirmar
        </ion-button>
</div>  
    
</ion-content>
