

.container{
    height: 100% !important;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
}


ion-item {
  margin-top: 5px;   
  border: 2px solid #ecececf8;
  border-radius: 25px;
}



