strong{
  text-align: center !important;
  color: black !important;
}

.secondary{
background-color: red !important;  
margin: auto !important;
}

ion-back-button{
  width: 50%;  
}

ion-title{
    font-size: 18px !important;
    margin: auto !important;
}

ion-list{
  width: 100%;
  margin: 0px;
}

.icon-fea4 {
  font-size: 24px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 60px;
  background: #293462;
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}


ion-item {
  margin: 0px;
}


.title{
  margin-bottom: 25px;
  margin-left: 15px;
  font-size: 15px !important;
}


app-skeleton{
  width: 100%;
}

.text{
  text-align: center !important;
  margin: auto !important;
  font-size: 15px;
}


