
ion-avatar {
    margin: auto !important;
}

ion-icon {
    color: black !important;
    margin: 8px !important;
}

ion-item{
    margin-top: 10px !important;
}

ion-toolbar{
    width: 304px !important;
    height: 100px !important;
}
