<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="loading" width="70px" height="70px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <circle cx="78" cy="50" r="5" fill="#ffffff">
    <animate attributeName="cx" values="78;50" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="cy" values="50;78" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="fill" values="#ffffff;#f8f8f8" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
  </circle><circle cx="50" cy="78" r="5" fill="#f8f8f8">
    <animate attributeName="cx" values="50;22" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="cy" values="78;50" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="fill" values="#f8f8f8;#f0f0f0" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
  </circle><circle cx="22" cy="50" r="5" fill="#f0f0f0">
    <animate attributeName="cx" values="22;49.99999999999999" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="cy" values="50;22" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="fill" values="#f0f0f0;#ebebeb" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
  </circle><circle cx="49.99999999999999" cy="22" r="5" fill="#ebebeb">
    <animate attributeName="cx" values="49.99999999999999;78" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="cy" values="22;49.99999999999999" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
    <animate attributeName="fill" values="#ebebeb;#ffffff" keyTimes="0;1" dur="1s" repeatCount="indefinite"></animate>
  </circle>
  </svg>