<!--Menu-->

  <ion-header>
    <ion-toolbar color="primary">
      <ion-avatar>  
        <img src="assets/img/logo.png" />
      </ion-avatar>
      <ion-title class="ion-text-center">HomeCare Services</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="search-circle-outline"></ion-icon>        
        <ion-label>Buscar Servicios</ion-label>
      </ion-item>

      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="build-outline"></ion-icon>        
        <ion-label>Servicios Solicitados</ion-label>
      </ion-item>

      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>        
        <ion-label>Chats</ion-label>
      </ion-item>

      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="cog-outline"></ion-icon>        
        <ion-label>Configuración</ion-label>
      </ion-item>

      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="bug-outline"></ion-icon>        
        <ion-label>Reportar Bug</ion-label>
      </ion-item>

      <ion-item *ngIf="user == 'cliente'" (click)="navigate()" button detail>
        <ion-icon slot="start" name="person-add-outline"></ion-icon>   
        <ion-label>Trabaja con Nosotros</ion-label>
      </ion-item>

      <ion-item (click)="navigate()" button detail>
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>        
        <ion-label>Acerca</ion-label>
      </ion-item>

      <ion-item (click)="navigate('login')" button detail>
        <ion-icon slot="start" name="arrow-undo-circle-outline"></ion-icon>        
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>


