ion-title{
    font-size: 18px !important;
}

ion-icon{
    color: #717171 !important;
}

ion-label{
    color: black !important;

}

.desing{
    height: 70px !important;
    width: 10px !important;
}

.card{
    height: 70px;
}

ion-badge{
    margin-top: 20px !important;
    font-size: 10px !important;
}

.title {
    margin-left: 10px !important;
    font-size: 15px !important;
}

ion-badge{
    margin-top: -15px !important;
}


ion-header{
    background-color: #ffd948 !important;
}

.car_card{
    background-color: #ffd948;
}

ion-img{
    width: 100%;
    border-radius: 10px;
}

.card_panel {
    width: 330px !important;
}

.home{
    margin: auto;
    width: 50px !important;
    height: 50px !important;
}

